```css
@font-face {
  font-family: "Kiss💞";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kiss-regular.eot);
  src: local("Kiss Regular"), local("Kiss-Regular"), url(../fonts/kiss-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/kiss-regular.woff2) format("woff2"), url(../fonts/kiss-regular.woff) format("woff"), url(../fonts/kiss-regular.ttf) format("truetype"), url(../fonts/kiss-regular.svg#Kiss) format("svg");
}

@font-face {
  font-family: "Kiss💞";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/kiss-500.eot);
  src: local("Kiss Medium"), local("Kiss-Medium"), url(../fonts/kiss-500.eot?#iefix) format("embedded-opentype"), url(../fonts/kiss-500.woff2) format("woff2"), url(../fonts/kiss-500.woff) format("woff"), url(../fonts/kiss-500.ttf) format("truetype"), url(../fonts/kiss-500.svg#Kiss) format("svg");
}

@font-face {
  font-family: "Kiss💞";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/kiss-700.eot);
  src: local("Kiss Bold"), local("Kiss-Bold"), url(../fonts/kiss-700.eot?#iefix) format("embedded-opentype"), url(../fonts/kiss-700.woff2) format("woff2"), url(../fonts/kiss-700.woff) format("woff"), url(../fonts/kiss-700.ttf) format("truetype"), url(../fonts/kiss-700.svg#Kiss) format("svg");
}
```
